.gitattributes
.vs/CatLog/FileContentIndex/0cf4420a-51bf-4720-8bb6-bebb71df3604.vsidx
.vs/CatLog/FileContentIndex/379ce343-8c55-4f30-bd8b-c1d65d38498a.vsidx
.vs/CatLog/FileContentIndex/50bdbd09-ae0f-43d6-a0b8-e00d0b35495b.vsidx
.vs/CatLog/FileContentIndex/a9ba4ee4-c106-4bee-92bc-3460214a77ca.vsidx
.vs/CatLog/FileContentIndex/e218f9c0-52ce-48b2-a31b-3b8e9bc82910.vsidx
.vs/CatLog/v17/.suo
.vs/CatLog/v17/Browse.VC.db
.vs/CatLog/v17/Browse.VC.db-shm
.vs/CatLog/v17/Browse.VC.db-wal
.vs/CatLog/v17/Browse.VC.opendb
.vs/CatLog/v17/DocumentLayout.backup.json
.vs/CatLog/v17/DocumentLayout.json
.vs/CatLog/v17/ipch/AutoPCH/113d74424ca9aa76/CATLOG.ipch
.vs/CatLog/v17/ipch/AutoPCH/12d164d9c43da7c0/MAIN.ipch
.vs/CatLog/v17/ipch/AutoPCH/92b677ba6aff08bc/LOGMANAGER.ipch
.vs/CatLog/v17/ipch/AutoPCH/ea68e398abe526d/LOGMANAGER.ipch
.vs/CatLog/v17/ipch/AutoPCH/fe52b2ec2fb03a53/CATLOG.ipch
.vs/CatLog/v17/Solution.VC.db
.vs/CatLog/v17/TestStore/0/000.testlog
.vs/CatLog/v17/TestStore/0/testlog.manifest
x64/Debug/CatLog.pdb
x64/Debug/CatLog.exe
.vs/CatLog/FileContentIndex/13c31222-ab40-404a-ab5e-31b74b14435e.vsidx
.vs/CatLog/FileContentIndex/59bb5a93-99e5-4001-a92d-a9301cdf3559.vsidx
.vs/CatLog/FileContentIndex/75b90396-732a-47e7-aa10-f925131a303b.vsidx
.vs/CatLog/FileContentIndex/2290a672-9c45-4bf3-9bcf-e5aac7116e45.vsidx
.vs/CatLog/FileContentIndex/45cc1097-6dca-427f-951b-e8b2a4ceace6.vsidx
.vs/CatLog/FileContentIndex/87d623f9-e91f-4119-9271-458c75f76a04.vsidx
.vs/CatLog/FileContentIndex/8a67c736-7a93-440a-8aed-f152c8634d66.vsidx
.vs/CatLog/FileContentIndex/90134628-f37c-4687-9686-d4ec09259f07.vsidx
.vs/CatLog/v17/ipch/AutoPCH/1343daf8a7af8c0c/APIHANDLER.ipch
.vs/CatLog/v17/ipch/AutoPCH/ecd63ee2d2e6ec85/APIHANDLER.ipch
secrets.json
packages.config
packages/nlohmann.json.3.12.0/.signature.p7s
packages/nlohmann.json.3.12.0/build/native/include/nlohmann/json.hpp
packages/nlohmann.json.3.12.0/build/native/include/nlohmann/json_fwd.hpp
packages/nlohmann.json.3.12.0/build/native/nlohmann.json.targets
packages/nlohmann.json.3.12.0/nlohmann.json.3.12.0.nupkg
